import os

SECRET_KEY = os.urandom(64)

APP_ROOT = os.path.dirname(__file__)
APP_NAME = 'Messages in a bottle'
APP_URL = 'http://127.0.0.1:8080'
DEBUG = True
STATIC_ROOT = '/'.join([APP_ROOT, 'static'])
DB_NAME = 'forum.sqlite'
DB_PATH = os.path.abspath(os.path.join(APP_ROOT, DB_NAME))

SESSION_OPTS = {
    'session.cookie_expires': True,
    'session.encrypt_key': str(SECRET_KEY),
    'session.httponly': True,
    'session.timeout': 3600,  # 1 hour
    'session.type': 'cookie',
    'session.validate_key': True,
    'session.auto': True,
}